.mainContentContainer {
  width: 100%;
  height: auto;

  padding: 30px;
  padding-bottom: 10px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContentTitles {
  margin-bottom: 8px;
  margin-right: 420px;
}